{% extends 'base.html.twig' %}

{% block title %}{{ formTitle }} - Démonstration Ambelz{% endblock %}

{% block body %}
<div class="">
    {% for label, messages in app.flashes %}
        <div class="alert alert-{{ label == 'error' ? 'danger' : label }} alert-dismissible fade show" role="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    <h1>{{ formTitle }}</h1>

    <!-- LiveComponent pour le formulaire -->
    <div class="mb-5">
        {{ component('JsonFormComponent', {
            jsonStructure: jsonStructure,
            category: category,
            formTitle: formTitle,
        }) }}
    </div>
</div>
{% endblock %}