<!DOCTYPE html>
<html lang="{{ app.locale }}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="view-transition" content="same-origin" />
        <title>{% block title %}Symfony Demo application{% endblock %}</title>
        <link rel="alternate" type="application/rss+xml" title="{{ 'rss.title'|trans }}" href="{{ path('blog_rss') }}">

        {% block stylesheets %}{% endblock %}
        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
        <link rel="shortcut icon" type="image/svg+xml" href="{{ asset('favicon.svg') }}">
    </head>

    <body id="{% block body_id %}{% endblock %}" class="p-2">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-9 col-md-8 col-sm-12">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
